@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  font-family: 'Lato', sans-serif;
  background-color: rgb(239, 239, 243);
}